/blib
/pm_to_blib
/META.yml
/README
/Makefile.PL
/Build
/_build
/*.tar.gz
/MANIFEST.bak
/cover_db
/tmp/*
/dbedia-Debian-*
/debian/dbedia-debian
/debian/files
/debian/dbedia-debian.debhelper.log
/configure-stamp
/build-stamp
